body {
  font-family: 'Courier New', Courier, monospace;
  background-color:#000000;
  text-align: center;
  color:#fff;
  padding-top:10em;
}

.button-down {
  position: relative;
  padding: 5px;
  margin: 30px auto;
  background: #000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button-down:hover {
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
}

.button-down::after {
  content: "";
  position: absolute;
  left: 17px;
  z-index: 11;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.button-down::after {
  top: 10px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}


* { color:#fff; text-decoration: none;}